@model RoomAllViewModel

@{
    ViewData["Title"] = "All";
}

<h1>All Rooms</h1>
@if (this.User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}


<table class="table">
    <thead>
        <tr>
            <th>
                Number
            </th>
            <th>
                Type
            </th>
            <th>
                Capasity
            </th>
            <th>
                IsFree
            </th>
            <th>Price For Adult</th>
            <th>Price For Kid</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Capasity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsFree)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriceForAdult)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriceForKid)
                </td>
                <td>
                    @if (this.User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
    <ul class="pagination">
        @for (var i = 1; i <= Model.Pager.PagesCount; i++)
        {
            <li class="page-item @(i == Model.Pager.CurrentPage ? "active" : "")">
                <a asp-route-Pager.CurrentPage="@i" class="page-link">@i</a>
            </li>
        }
    </ul>
</table>